/* =============
    Section 3
============= */
#section-3{
    aside{
        background-image: url("../img/section-3/hero.png");
        background-position: top;
        background-repeat: no-repeat;
        height: 80vh;
    }

    @include md{
        height: 45vh;
    }

    @include md{
        height: 70vh;
    }
    
    @include xl{
        grid-template-columns: auto 1200px auto;
    }

}