/* =============
    Footer
============= */
#footer{
    background-color: $red;
    display: grid;
    grid-template-columns: 2% auto 2%;
    grid-template-areas: ". footer .";
    #footer-content{
        grid-area: footer;
    }
}